<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome To Yelp Camp!!!</h1>
            <p>View our hand-picked campgrounds from all over the world...</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a New Camp Ground</a>
            </p>

        </div>
    </header>
    <div class="row text-center">
        <% campgrounds.forEach(function(camp){ %>
        <div class="col-lg-3 col-lg-4 col-md-6 col-sm-12">
            <div class="thumbnail">
                <div class="card">
                    <img class="img-fluid" src="<%= camp.image %>" alt="Responsive image">
                    <div class="card-body">
                        <h4><%= camp.name %></h4>
                        <p>
                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-md btn-success">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

</div>
<%- include("../partials/footer") %>