<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome To Yelp Camp!!!</h1>
            <p>View our hand-picked campgrounds from all over the world...</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a New Camp Ground</a>
            </p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Campground search..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
            <% } %>
        </div>
    </header>
    <div class="row text-center">
        <% campgrounds.forEach(function(camp){ %>
        <div class="col-lg-3 col-lg-4 col-md-6 col-sm-12">
            <div class="thumbnail">
                <div class="card">
                    <img class="img-fluid" src="<%= camp.image %>" alt="Responsive image">
                    <div class="card-body">
                        <h4><%= camp.name %></h4>
                        <p>
                            <a href="/campgrounds/<%= camp._id %>" class="btn btn-md btn-success">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

</div>
<%- include("../partials/footer") %>